<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生成绩</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/teacher/studentGrade.css}" rel="stylesheet">
    <link th:href="@{/asserts/font/font_1406633_mrx3acdm7q/iconfont.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/teacher/common.css}" rel="stylesheet">
    <!--JQuery-->
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/asserts/js/common.js}"></script>
</head>
<body id="allbody">
<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="z-header">
                <div class="z-logo">
                    <h3>学 生 成 绩 分 析</h3>
                </div>
                <!-- 头部右侧区域 -->
                <div class="z-home">
                    <div class="z-homepage">
                        <a href="/user/goTeacherIndex">首页</a>
                    </div>

                    <div class="z-homepwd">
                        <a href="#">修改密码</a>
                    </div>
                    <div class="z-homequit">
                        <a href="/user/signOut">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gradeTable" class="container">
        <div class="content">
            <div shiro:hasPermission="teacher:selectAllStuGrade" id="gradeSelect">
                <select name="class" id="startYear" class="form-control">
                    <option th:each="g:${presentGrade}" th:value="${g}" th:text="${g}"  th:selected="${startYear eq g}"></option>
                </select>
            </div>
            <div shiro:hasRole="teacher" id="classSelect">
                <select name="class" id="classNumber" class="form-control">
                    <!--/*@thymesVar id="classList" type=""*/-->
                    <!--th:selected中classNumber为上一次select中选中的值，与动态加载的option中的value比较，就可默认选中上一次选的option-->
                    <option th:each="c:${classList}" th:value="${c}" th:text="${c}"  th:selected="${classNumber eq c}"></option>
                </select>
            </div>
            <div shiro:hasRole="teacher" id="examSelect">
                <select name="exam" id="examName" class="form-control">
                    <option th:each="e:${examList}" th:text="${e.examName}" th:value="${e.tableName}" th:selected="${exam eq e.tableName}"></option>
                </select>
            </div>
            <a class="btn btn-default" href="/user/goTeacherIndex" role="button">返回上一级</a>
            <div class="table-respqonsive">
                <table border="1" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th th:class="chinese">语文<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                       <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                            <th th:class="math">数学<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                    <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                            <th th:class="english">英语<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                        <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                            <th th:class="physics">物理<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                        <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                            <th th:class="chemistry">化学<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                    <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                            <th th:class="biology">生物<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                        <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                            <th th:class="history">历史<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                        <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                            <th th:class="politics">政治<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                        <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                            <th th:class="geography">地理<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                        <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                            <th th:class="technology">技术<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                        <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                            <th th:class="total_point">总分<i class="iconfont icon-arrow-down downjiantou sort"  style="font-size: 18px;color: red; margin-right:-35px;"></i>
                                                        <i class="iconfont icon-jiantou-copy upjiantou sort"  style="font-size: 18px;color: green; margin-right:-35px;"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="grade:${studentGrades}">
                            <td th:text="${grade.name}"></td>
                            <td th:text="${grade.chineseGrades}"></td>
                            <td th:text="${grade.mathGrades}"></td>
                            <td th:text="${grade.englishGrades}"></td>
                            <td th:text="${grade.physicsGrades}"></td>
                            <td th:text="${grade.chemistryGrades}"></td>
                            <td th:text="${grade.biologyGrades}"></td>
                            <td th:text="${grade.historyGrades}"></td>
                            <td th:text="${grade.politicsGrades}"></td>
                            <td th:text="${grade.geographyGrades}"></td>
                            <td th:text="${grade.technologyGrades}"></td>
                            <td th:text="${grade.totalPointGrades}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            当前页：<a href="#" th:text="${pageInfo.pageNum}"></a>
            条数：<select id="pageSize" name="pageSize">
                    <option th:text="${pageInfo.pageSize}" th:value="${pageInfo.pageSize}" ></option>
                    <option th:text="5" th:value="5" th:selected="${pageInfo.pageSize eq 5}"></option>
                    <option th:text="10" th:value="10" th:selected="${pageInfo.pageSize eq 10}"></option>
                    <option th:text="15" th:value="15" th:selected="${pageInfo.pageSize eq 15}"></option>
                    <option th:text="20" th:value="20" th:selected="${pageInfo.pageSize eq 20}"></option>
                </select>
            <!--显示分页信息-->
            <div class="modal-footer no-margin-top">
                <div class="col-md-6">
                    当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
                </div>
                <ul class="pagination pull-right no-margin">
                    <!--首页-->
                    <li>
                        <a th:href="@{'/teacher/selectStuGrade?pageNum=1&pageSize=' + ${pageInfo.pageSize}
                 + '&classNumber=' + ${classNumber} + '&exam=' + ${exam} + '&subject=' + ${subject} + '&sort=' + ${sort} + '&startYear= ' + ${startYear}}">首页</a>
                    </li>
                    <!--上一页-->
                    <!--/*@thymesVar id="hasPreviousPage" type="com.slxy.analysis.teacher.controller.TeacherController"*/-->
                    <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="@{'/teacher/selectStuGrade?pageNum=' + ${pageInfo.prePage} + '&pageSize=' + ${pageInfo.pageSize}
                        + '&exam=' + ${exam} + '&classNumber=' + ${classNumber} + '&subject=' + ${subject} + '&sort=' + ${sort} + '&startYear=' + ${startYear}}">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <!--遍历条数-->
                    <li th:each="nav:${pageInfo.navigatepageNums}">
                        <a th:href="@{'/teacher/selectStuGrade?pageNum=' + ${nav} + '&pageSize=' + ${pageInfo.pageSize}
                        + '&exam=' + ${exam} + '&classNumber=' + ${classNumber} + '&subject=' + ${subject} + '&sort=' + ${sort} + '&startYear=' + ${startYear}}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                        <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                    </li>
                    <!--下一页-->
                    <li class="next" th:if="${pageInfo.hasNextPage}">
                        <a th:href="@{'/teacher/selectStuGrade?pageNum=' + ${pageInfo.nextPage} + '&pageSize=' + ${pageInfo.pageSize}
                        + '&exam=' + ${exam} + '&classNumber=' + ${classNumber} + '&subject=' + ${subject} + '&sort=' + ${sort} + '&startYear=' + ${startYear}}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <!--尾页-->
                    <li>
                        <a th:href="@{'/teacher/selectStuGrade?pageNum=' + ${pageInfo.pages} + '&pageSize=' + ${pageInfo.pageSize}
                        + '&exam=' + ${exam} + '&classNumber=' + ${classNumber} + '&subject=' + ${subject} + '&sort=' + ${sort} + '&startYear=' + ${startYear}}">尾页</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--隐藏域-->
        <input type="hidden" th:value="${subject}" id="subject">
        <input type="hidden" th:value="${sort}" id="sort">
        <input type="hidden" id="pageNum" th:value="${pageInfo.pageNum}">
        <input type="hidden" th:value="${averageGrade.chineseAverageGrades}" id="chineseAverageGrades">
        <input type="hidden" th:value="${averageGrade.mathAverageGrades}" id="mathAverageGrades">
        <input type="hidden" th:value="${averageGrade.englishAverageGrades}" id="englishAverageGrades">
        <input type="hidden" th:value="${averageGrade.physicsAverageGrades}" id="physicsAverageGrades">
        <input type="hidden" th:value="${averageGrade.chemistryAverageGrades}" id="chemistryAverageGrades">
        <input type="hidden" th:value="${averageGrade.biologyAverageGrades}" id="biologyAverageGrades">
        <input type="hidden" th:value="${averageGrade.historyAverageGrades}" id="historyAverageGrades">
        <input type="hidden" th:value="${averageGrade.politicsAverageGrades}" id="politicsAverageGrades">
        <input type="hidden" th:value="${averageGrade.geographyAverageGrades}" id="geographyAverageGrades">
        <input type="hidden" th:value="${averageGrade.technologyAverageGrades}" id="technologyAverageGrades">
        <input type="hidden" th:value="${averageGrade.totalPointAverageGrades}" id="totalPointAverageGrades">
</div>
</div>
<script type="text/javascript">

    window.onload = function(){
        classJudge();
        classOptions();
        changeArrows();
        gradeOptions();
        $('.upjiantou').hide();
    }
    $("#classNumber,#examName,#pageSize").change(function () {
        var classNumber = $("#classNumber option:selected").val();
        var examName = $("#examName option:selected").val();
        var pageSize = $("#pageSize option:selected").val();
        var startYear = $("#startYear option:selected").val();
        var pageNum = $("#pageNum").val();
        //排序科目
        var subject = $("#subject").val();
        $.ajax({
            method: "post",
            url: "/teacher/selectStuGrade",
            datatype:"html",
            data:{
                "classNumber": classNumber,
                "exam": examName,
                "pageNum": pageNum,
                "pageSize": pageSize,
                "startYear": startYear,
                "subject": subject,
                "sort": "asc"
            },
            success: function (msg) {
                $("#allbody").html(msg);
                classJudge();
                classOptions();
                changeArrows();
                gradeOptions();
                $('.upjiantou').hide();
                var sort = $('#sort').val();
                $('#subject img').addClass(sort);
            },
            error: function (msg) {
                alert('请求出现错误...');
            }
        })
    })

    $("#startYear").change(function () {
        var startYear = $("#startYear option:selected").val();
        //排序科目
        var subject = $("#subject").val();
        $.ajax({
            method: "post",
            url: "/teacher/selectStuGrade",
            datatype:"html",
            data:{
                "startYear": startYear,
                "subject": subject
            },
            success: function (msg) {
                $("#allbody").html(msg);
                classJudge();
                changeArrows();
                classOptions();
                gradeOptions();
                $('.upjiantou').hide();
                var sort = $('#sort').val();
                $('#subject img').addClass(sort);
            },
            error: function (msg) {
                alert('请求出现错误...');
            }
        })
    })

    //改变排序的图片,查询并排序
    $(".sort").click(function () {
        //取出图片名
        var sort = $('#sort').val();
        if (sort == "desc") {
            $(this).removeClass("desc");
            $(this).addClass("asc")
        } else {
            $(this).removeClass("asc");
            $(this).addClass("desc")
        }
        //查询并排序
        var classNumber = $("#classNumber option:selected").val();
        var examName = $("#examName option:selected").val();
        var pageSize = $("#pageSize option:selected").val();
        var startYear = $("#startYear option:selected").val();
        var pageNum = $("#pageNum").val();
        //排序科目
        var subject = $(this).parent().attr("class");
        //获取排序是升序还是降序
        var sort = $(this).attr("class").split(" ")[4];
        $.ajax({
            method: "post",
            url: "/teacher/selectStuGrade",
            datatype:"json",
            data:{
                "classNumber": classNumber,
                "exam": examName,
                "pageNum": pageNum,
                "pageSize": pageSize,
                "startYear": startYear,
                "subject": subject,
                "sort": sort
            },
            success: function (msg) {
                // console.log(msg)
                $("#allbody").html(msg);
                classJudge();
                classOptions();
                changeArrows();
                gradeOptions();
                // var subject = $('#subject').val();
                // var sort = $('#sort').val();
                // $('#subject img').addClass(sort);
                // // $('#' + subject).attr("sort " + sort);
            },
            error: function (msg) {
                alert('请求出现错误...');
            }
        })
    })


    function judge(gradesArr) {
        for (var i = 1;i<gradesArr.length+1;i++){
            var averageGrades = gradesArr[i-1];
            averageGrades = parseInt(averageGrades);
            var tdNode = $('tbody tr').find('td:eq(' + i + ')');
            var tdNodeArr = Array.from(tdNode);
            tdNodeArr.forEach(function (item, index) {
                if (item.innerHTML > averageGrades) {
                    $(item).addClass('active')
                } else {
                    $(item).addClass('reactive')
                }
            });
        }
    }

    function changeArrows(){
        var sort = $('#sort').val();
        if (sort == "desc") {
            $('.upjiantou').hide();
            $('.downjiantou').show();
        } else {
            $('.downjiantou').hide();
            $('.upjiantou').show();
        }
    }
    $(function () {
        var chineseAverageGrades = $("#chineseAverageGrades").val();
        var mathAverageGrades = $("#mathAverageGrades").val();
        var englishAverageGrades = $("#englishAverageGrades").val();
        var physicsAverageGrades = $("#physicsAverageGrades").val();
        var chemistryAverageGrades = $("#chemistryAverageGrades").val();
        var biologyAverageGrades = $("#biologyAverageGrades").val();
        var historyAverageGrades = $("#historyAverageGrades").val();
        var politicsAverageGrades = $("#politicsAverageGrades").val();
        var geographyAverageGrades = $("#geographyAverageGrades").val();
        var technologyAverageGrades = $("#technologyAverageGrades").val();
        var totalPointAverageGrades = $("#totalPointAverageGrades").val();
        var gradesArr = new Array();
        gradesArr.push(chineseAverageGrades);
        gradesArr.push(mathAverageGrades);
        gradesArr.push(englishAverageGrades);
        gradesArr.push(physicsAverageGrades);
        gradesArr.push(chemistryAverageGrades);
        gradesArr.push(biologyAverageGrades);
        gradesArr.push(historyAverageGrades);
        gradesArr.push(politicsAverageGrades);
        gradesArr.push(geographyAverageGrades);
        gradesArr.push(technologyAverageGrades);
        gradesArr.push(totalPointAverageGrades);
        judge(gradesArr);
    })

        function classJudge() {
            var myOptions = $('#startYear').find('option');
            var newmyOptions = Array.from(myOptions);
            newmyOptions.forEach(function (item, index) {
                var myValue = $(item).attr('value')
                var str = ''
                str += '20' + myValue;
                var newStr = parseInt(str);
                var date = new Date();
                var year = parseInt(date.getFullYear());
                if (year - newStr == 0) {
                    $(item).text('高一')
                }
                if (year - newStr == 1) {
                    $(item).text('高二')
                }
                if (year - newStr == 2) {
                    $(item).text('高三')
                }
                // if (year - newStr !== 2 && year - newStr !== 1 && year - newStr !== 0) {
                // }
            })
        }

        function classOptions() {
            var myclassOptions = $('#classNumber').find('option');
            var newmyclassOptions = Array.from(myclassOptions);

            newmyclassOptions.forEach(function (item) {
                var myValue = $(item).attr('value');
                myValue = myValue.substring(0, 2)
                var str = ''
                str += '20' + myValue;
                var newStr = parseInt(str);
                var date = new Date();
                var year = parseInt(date.getFullYear());
                if (year - newStr == 0) {
                    var mytext = $(item).html();
                    mytext = mytext.substring(2, 4)
                    var sstr = '高一(' + mytext + ')班';
                    $(item).html(sstr)
                }
                if (year - newStr == 1) {
                    var mytext = $(item).html();
                    mytext = mytext.substring(2, 4)
                    var sstr = '高二(' + mytext + ')班';
                    $(item).html(sstr)
                } if (year - newStr == 2) {
                    var mytext = $(item).html();
                    mytext = mytext.substring(2, 4)
                    var sstr = '高三(' + mytext + ')班';
                    $(item).html(sstr)
                }
            })
            // console.log(newmyOptions)
        }

    function gradeOptions() {
        var mygradeOptions = $('#examSelect').find('option');
        var newmygradeOptions = Array.from(mygradeOptions);
        newmygradeOptions.forEach(function (item) {
            var myValue = $(item).attr('value');
            myValue = myValue.substring(0, 2)
            var str = ''
            str += '20' + myValue;
            var newStr = parseInt(str);
            var date = new Date();
            var year = parseInt(date.getFullYear());
            if (year - newStr == 0) {
                var mytext = $(item).html();
                mytext = mytext.substring(2, mytext.length);
                console.log(mytext)
                var sstr = '高一' + mytext;
                $(item).html(sstr)
            }
            if (year - newStr == 1) {
                var mytext = $(item).html();
                mytext = mytext.substring(2, mytext.length);
                var sstr = '高二' + mytext ;
                $(item).html(sstr)
            } if (year - newStr == 2) {
                var mytext = $(item).html();
                mytext = mytext.substring(2, mytext.length);
                var sstr = '高三' + mytext;
                $(item).html(sstr)
            }
        })
    }


</script>
</body>
</html>