<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>总体分析</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/teacher/common.css}" rel="stylesheet">
    <!--JQuery-->
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <!--Echarts-->
    <script th:src="@{/asserts/js/echarts.common.min.js}"></script>
    <script th:src="@{/asserts/js/teacher/analysisSchoolGrade.js}"></script>
</head>
<body id="allbody">
    请输入分数线：<input type="text"  th:value="${cutOffGrade}" id="cutOffGrade">
    <input type="button" id="btn" value="提交"><br>
    <a class="btn btn-default" href="/teacher/selectClassGrade" role="button">返回上一级</a>
    <table border="1">
        <thead>
            <th>班级</th>
            <th>过线人数</th>
        </thead>
        <tbody th:each="rs:${map}">
            <td th:text="${rs.classNumber}"></td>
            <td th:text="${rs.number}"></td>
        </tbody>
    </table>
    <input type="hidden" th:value="${exam}" id="exam">
    <input type="hidden" th:value="${startYear}" id="startYear">
    <input type="hidden" th:value="${map}" id="map">
    <input type="hidden" th:value="${jsonArray}" id="jsonArray">
    <input type="hidden" th:value="${cutOffGrade}" id="cutOffGradeValue">
    <div class="container-fluid">
        <div class="row">
            <div id="school_grades_bar" class="col-md-6" style="height:400px"></div>
        </div>
    </div>
    <script>
        $('#btn').on("click", function () {
            var startYear = $("#startYear").val();
            var exam = $("#exam").val();
            var cutOffGrade = $("#cutOffGrade").val();
            $.ajax({
                methods: "post",
                url: "/teacher/setCutOffGrade",
                dataType: "html",
                data:{
                    "startYear": startYear,
                    "exam": exam,
                    "cutOffGrade": cutOffGrade
                },
                success: function (data) {
                    $("#allbody").html(data);
                },
                error: function (msg) {
                    alert('请求出现错误...');
                }
            })
        })
    </script>
</body>
</html>