<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    name：<a href="#" th:text="${name}"></a>
    <div shiro:hasRole="student">
        classNumber：<a href="#" th:text="${classNumber}" > </a>
    </div>
    <p th:text="${classList}"></p>
    <p th:text="${msg}"></p>

    <div shiro:hasPermission="student:selectGrade">
        <a href="/student/grade">查询成绩信息</a>
    </div>
    <div shiro:hasPermission="teacher:selectStuGrade">
        <a href="/teacher/selectStuGrade">查询学生成绩信息</a>
    </div>
    <div shiro:hasPermission="teacher:selectClassGrade">
        <a href="/teacher/selectClassGrade">查询各班级成绩信息</a>
    </div>
    <div shiro:hasPermission="teacher:updateGrade">
        <a href="/teacher/update">修改成绩信息</a>
    </div>
    <div shiro:hasPermission="superAdmin:createTable">
        <a href="/superAdmin/createTable">创建考试表</a>
    </div>
</body>
</html>