<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    name：<a href="#" th:text="${name}"></a>
    <div shiro:hasRole="student">
        classNumber：<a href="#" th:text="${classNumber}" > </a>
    </div>
    <p th:text="${classList}"></p>

    <div shiro:hasPermission="teacher:selectGrade">
        <a href="/teacher/grade">查询成绩信息</a>
    </div>
    <div shiro:hasPermission="student:selectGrade">
        <a href="/user/add">查询成绩信息</a>
    </div>
    <div shiro:hasPermission="teacher:updateGrade">
        <a href="/user/add">修改成绩信息</a>
    </div>
</body>
</html>