<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/asserts/css/login/login.css}" rel="stylesheet">
</head>
<body>
    <div class="login">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-left">
                    <img th:src="@{/asserts/images/login/img-01.png}"  class="login-pic">
                </div>
                <h3 th:text="${msg}" style="color: red"></h3>
                <form action="/user/login" class="login-form" id="login-form">
                    <span class="login-title">校 园 登 陆</span>
                    <div class="login-ident login-com">
                        <input type="text" class="identity" name="username" placeholder="账号" required>
                        <span class="qq"></span>
                        <span class="icon">
                                <i class="iconfont icon-mail_fill"></i>
                            </span>
                    </div>
                    <div class="login-password login-com">
                        <input type="password" class="password identity" name="password" placeholder="密码" required>
                        <span class="qq"></span>
                        <span class="icon">
                                <i class="iconfont icon-lock_fill"></i>
                            </span>
                    </div>
                    <div class="login-com login-select">
                        <select name="role" id="choose">
                            <option value="student">学生</option>
                            <option value="teacher">教师</option>
                        </select>
                    </div>
                    <div class="dl login-com">
                        <input type="submit" class="btn" id="btn" value="登陆"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>